// Graphik LCG

@font-face {
    font-family: 'Graphik LCG';
    src: url('../assets/fonts/GraphikLCG-RegularItalic.woff2') format('woff2'),
         url('../assets/fonts/GraphikLCG-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../assets/fonts/GraphikLCG-Regular.woff2') format('woff2'),
         url('../assets/fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../assets/fonts/GraphikLCG-Bold.woff2') format('woff2'),
         url('../assets/fonts/GraphikLCG-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

